.AboutUsArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Logo {
  width: 350px;
  height: 350px;
}


.AboutUsArea h1{
  font-size: 45px;
  font-weight: 300;
  text-transform: uppercase;
}

.AboutUsTitle span {
  color: #00ff38;
}

.AboutUsTitle {
  position: relative;
  margin-top: -70px;
}


.AboutUsText {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

.AboutUsText span {
  color: #00ff38;
}

.ButtonGreen {
  height: 48px;
  width: 225px;
  background-color: #006b58;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PositionButton {
  position: relative;
  margin-top: 60px;
 }
 
@media screen and (max-width: 425px)  {

  .Logo {
    margin: 16px;
  }

  .AboutUsText {
    font-size: 13px;
   
  }

}

@media screen and (min-width: 600px)  {

 .AboutUsText{
   width: 500px;
 
 }

 .AboutUsText {
  font-size: 14px;
}

.PositionButton {
  position: relative;
  margin-top: 130px;
 }

}

