.AprArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 35px;
}

.imageApr6 {
  width: 200px;
  height: 200px;
  border: 2px solid #00FF38;
  border-radius: 100px;
  background-image: url('/public/tccapr4.jpg');
  background-position: center;
  background-size: cover;
  margin-top: 5rem;
}

.Green {
  color:#00FF38;
}

.NameTitle {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 26px;
}

.DescAreaApr {
  width: 350px;
  height: 200px;
  background-color: #0e121c;
  border-radius: 10px;
  position: absolute;
  bottom: 24%;
}

.DescAreaAprText {
  font-weight: 100;
  width: 330px;
  height: 270px;
  background: none;
  text-align: justify;
  position: relative;
  margin-top: 70px;
}

.ReturnArrow3 {
  position: absolute;
  bottom: 11%;
  left: 11%;
  height: 44px;
  width: 44px;
  box-shadow: none;
}

.NextArrow3 {
  position: absolute;
  bottom: 11%;
  right: 11%;
  height: 44px;
  width: 44px;
  box-shadow: none;
}

@media screen and (max-width: 425px) {

  .imageApr6 {
    width: 150px;
    height: 150px;
  }

  .DescAreaApr {
    width: 250px;
    height: 220px;
  }

  .DescAreaAprText {
    position: relative;
    width: 230px;
    height: 170px;
    font-size: 13px;

  }
}

@media screen and (min-width: 600px) {

.NameTitle {
  margin-top: 20px;
}


}