.cardTitle {
  width: 100%;
  height: 100px;
  background-color: #151820;
  border-bottom: 1px solid #131413;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  display: flex;
  justify-content: center; 
  align-items: center;
  box-shadow: 3px 4.5px 15px rgba(0,0,0,0.3);
}

.cardTitleText {
  margin: 0; 
  font-weight: 400;
  font-size: 30px;
  color: #FFF;
  text-transform: uppercase;
  background: none;
  letter-spacing: 5px;
}


h2 {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 2;
  text-align: center;
}

.cardDescText2 {
  position: absolute;
  top: 17%;
  font-size: 15px;
  font-weight: 200;
  background: none;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 20px;
}

.cardTaskOrange {
  position: absolute;
  width:280px;
  height: 60px;
  background-color: #c16d00;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  left: 10%;
  top: 30%;
}


.cardText2 {
  text-align: center;
  font-weight: 300;
  background: none;
  font-size: 17px;
}

.cardExer {
  display: flex;
  justify-content: center;
  align-items: center;
  position:  absolute;
  left: 12%;
  bottom: 48%;
  width: 250px;
  height: 70px;
  background-color: #0e121c;
  border-radius: 6px;
}

.cardExer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position:  absolute;
  left: 12%;
  bottom: 35%;
  width: 250px;
  height: 70px;
  background-color: #0e121c;
  border-radius: 6px;
}

.cardExer3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position:  absolute;
  left: 12%;
  bottom: 22%;
  width: 250px;
  height: 70px;
  background-color: #0e121c;
  border-radius: 6px;
}

.cardExerTitle {
  background: none;
  font-size: 20px;
  font-weight: 500;
  color:#fcfcfc;
  text-align: left;
  padding-bottom: 15px;
  padding-left: 12px;
}

.cardExerDesc {
  background: none;
  font-size: 13px;
  font-weight: 300;
  color:#8d8d8d;
  text-align: left;
  padding-left: 1.3rem;
}

.cardBarColorOrange {
  width: 10px;
  height: 70px;
  background-color: #ff9100;
}


.ReturnArrow2 {
  position: absolute;
  bottom: 11%;
  left: 11%;
  height: 44px;
  width: 44px;
  box-shadow: none;
}

.MeditationIcon {
  background: none;
  position: absolute;
  left: 15%;
}

.ArrowIcon {
  background: none;
  position: absolute;
  left: 40%;
}


@media screen and (min-width: 425px) {

   .cardTaskOrange {
    left: 14%;
  }
}

@media screen and (max-width: 320px) {

  .cardTaskOrange {
   left: 6%;
  }

}

@media screen and (max-width: 346px) {

  .cardDescText1 {
    font-size: 13px;
  }

}