

.Card1, .Card2, .Card3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 100px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  margin-top: 35px;
}

.Card1, .Card3 {
  left:15%;
}
.Card2 {
  right:15%; 
}

.Card1::before, .Card2::before, .Card3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: 1;
}

.Card1::before {
  background-image: url('/public/cardmeditacao.jpg');
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.Card2::before {
  background-image: url('/public/cardmassagem.jpg');
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.Card3::before {
  background-image: url('/public/cardyoga.jpg');
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.Card1h2, .Card2h2, .Card3h2 {
  font-weight: 400;
  font-size: 28px;
  color: #FFF;
  margin-bottom: 25px;
  background: none;
  z-index: 2; 
  position: relative;
  
}

.Card1h2 {
  text-align: left;
  padding-left: 12px;
}

.Card2h2 {
  text-align: right;
  padding-right: 12px;
}

.Card3h2 {
  text-align: left;
  padding-left: 12px;
}

.titleHome {
 margin-top: 42px;
 text-transform: uppercase;
}

.textHome {
  text-align: justify;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  
}

.headerTitle {
  width: 100%;
  height: 100px;
  background-color: #151820;
  border-bottom: 1px solid #131413;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  display: flex;
  justify-content: center; 
  align-items: center;
  box-shadow: 3px 4.5px 15px rgba(0,0,0,0.3);
}

.titleHome {
  margin: 0; 
  font-weight: 500;
  font-size: 22px;
  color: #FFF;
  text-transform: uppercase;
  background: none;
}