  .MobileBar {
    background-color: #151820;
    top: 93%;
    width: 100%;
    position:fixed;
    z-index:999;
    overflow:hidden;
    height: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  outline: none;
  margin: 0;
  position: fixed;
}

li {
  list-style: none;
  
}

.navbar .active a {
  color: #3ce2fb;
}
