.SobreDispArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.TextSDA {
  position:relative;
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 40px;
}

.ImageArea {
  width: 350px;
  height: 250px;
  background-color: #0e121c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-top: 20px;
}

.ImageWhite {
  width: 270px;
  height: 171px;
  background-color: #FFF;
  border-radius: 15px;
}

.DescSDA {
  position: relative;
  font-size: 14px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 475px) {

  .ImageArea {
    width: 400px;
    margin-top: 20px;
  }

}

@media screen and (max-width:   375px) {

  .ImageArea {
    width: 275px;
    
  }

  .ImageWhite {
    width: 200px;
    height: 125px;
  }

}