.cardExerVideo8 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 40px;
  background-color: #0e121c;
  border-radius: 6px;
  margin-top: 20px;
}

.cardExerTitleVideo8 {
  background: none;
  font-size: 20px;
  font-weight: 500;
  color:#fcfcfc;
  text-align: center;
}

.cardBarColorVideoLeft8 {
  width: 5px;
  height: 40px;
  background-color: #00aeff;
}

.cardBarColorVideoRight8 {
  width: 5px;
  height: 40px; 
  background-color: #00aeff;
}

.VideoMeditArea8 {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.VideoCfgBlue {
  border-radius: 12px;
  border: 1px solid #169edd;
}

.VideoMeditDescText8 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ajuste a largura conforme necessário */
  background: none;
  font-size: 15px;
  font-weight: 300;
  color: #fcfcfc;
  text-align: justify;
  box-sizing: border-box; /* Garantir que o padding não afete a largura total */
}


@media screen and (max-width: 375px) {
  .VideoMeditDescText8 {
    position: absolute;
    top: 40%;
  }

  .VideoMeditArea8 {
    width: 250px;
    height: 150px;
  }
}


@media screen and (max-width: 768px) {

  .VideoMeditArea8 {
    width: 450px;
    height: 250px;
  }

  .VideoMeditDescText8 {
    position: absolute;
    top: 40%;
  }


}

@media screen and (max-width: 425px) {
  .VideoMeditArea8 {
    width: 350px;
    height: 250px;
  }

  .VideoMeditDescText8 {
    position: absolute;
    top: 47%;
  }



}

@media screen and (max-width: 339px) {

  .VideoMeditArea8 {
    width: 300px;
    height: 250px;
  }

}