* {
  background-color: #12151c;
}

h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 22px;
  color:#FFF;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-weight: 300;
  font-size: 20px;
  color:#FFF;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}

.Card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 100px;
  background-image: url('../public/cardmeditacao.jpg');
  background-size: cover;
  background-position: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  position: absolute;
  left: 25%;
  overflow: hidden;
  margin-top: 20px;
}

h2 {
  font-weight: 400;
  font-size: 28px;
  color:#FFF;
  margin-bottom: 25px;
  margin-left: 9px;
  background:none;
  
}