@media screen and (max-width: 425px) {
  .MobileBar {
    background-color: #151820;
    position: absolute;
    top: 94.5%;
    width: 100%;
    position:fixed;
    z-index:999;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  outline: none;
  margin: 0;
}

li {
  list-style: none;
  
}

.navbar .active a {
  color: #3ce2fb;
}

}