.contentStart {
  background-color: #12151c;
}

img {
  width:212px;
  height:212px;
  display:flex;
  justify-content: center;
  align-items: center;
}

h1, p{
  font-weight: 400;
  font-size: 26px;
  color:#FFF;
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.3;
}

.ButtonPress {
  height: 48px;
  width: 225px;
  background-color: #0d6884;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  outline: none;
  border: 1px;
}

.contentStart {
  display: block; 

}

/* Media query para telas menores que 425px */
@media screen and (max-width: 425px) {
  .contentStart {
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  h1 {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  a {
    margin-top: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }
}